<ion-header >
  <ion-toolbar>
    <ion-title>
      <a href="home">Brahma kumaris</a>  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Brahma kumaris</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h3>Demo for Video,Image and PDF to consume from Azure Object Storage</h3>
    <p> <a target="_blank" rel="noopener noreferrer" href="video">Play Meditation Video from Azure Object Storage</a></p>
    <p> <a target="_blank" rel="noopener noreferrer" href="image">Display image from Azure Object Storage</a></p>
    <p> <a target="_blank" rel="noopener noreferrer" href="pdf">Display PDF file from Azure Object Storage</a></p>
    <p> <a target="_blank" rel="noopener noreferrer" href="text">Display Text file from Azure Object Storage</a></p>

  </div>
</ion-content>
